:root{
    --primary:#fff;
    --secondary:#4dd0e1;
    --title:#00838f ;
  }
  
  .top-nav{
    background-color: var(--secondary);
    /* color: #e0f7fa;
    font-family: 'Lobster', cursive; */
  }
  .top-nav a{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 2em;
  }
  .header{
    color: var(--title);
  }
  .page-footer{
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

/* 
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  } */
  /* Profile */
  