:root{
    --primary:#e0f7fa;
    --secondary:#4dd0e1;
    --title:#00838f ;
  }
  
  .top-nav{
    background-color: var(--secondary);
  }
  .top-nav a{
    color: black;
  }
  .header{
    color: var(--title);
  }
  .page-footer{
    background-color: var(--secondary);
    /* position: absolute; */
    bottom: 0%;
    left: 0;
    right: 0;
    top:0;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }
  .chatroom {
    height: 50%;
    width: 50%;
    margin: 2% 20% 2% 20%;
    padding: 5%;
    border-radius: 0.1em;
  }
  .chatroom-title{
      background: var(--title);
      margin: 0;
      padding: 1rem;
  }
  .chatroom-messages{
      background: var(--primary);
      margin: 0;
  }
  .chatroom-submit-message{
      background: var(--primary);
      border: 0.1rem black;
  }
  .chatroom-submit-message .send{
      background: var(--secondary);
      border: 0.2rem black;
      color: black;
  }
  .collection .collection-item.active {
    background-color:#0097a7 !important; 
    opacity: 0.8;
  }